<!-- Inicio background-banner -->
<div class="background-banner">
  <!-- Inicio background-overlay -->
  <div class="background-overlay">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 search-container">
          <div class="input-group">
            <input
              type="text"
              class="form-control text-center input-button"
              [placeholder]="'HOME.SEARCH-PLACEHOLDER' | transloco"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-light"
                type="button"
                id="button-addon2"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin background-overlay -->
</div>
<!-- Fin background-banner -->

<!-- Inicio Contenedor de la imagen -->
<div class="container img-user">
  <div class="row">
    <div class="col-12">
      <img src="assets/img/user.jpg" class="img-fluid rounded-circle" alt="" />
    </div>
  </div>
</div>
<!-- Fin Contenedor de la imagen -->

<!-- Inicio contenedor Scroll -->
<section class="mt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <div class="categories-container text-center container-width">
          <a href="#">Granos</a>
          <a href="#">Frutas</a>
          <a href="#">Aceites</a>
          <a href="#">Ajos</a>
          <a href="#">Ajos</a>
          <a href="#">Frijol</a>
          <a href="#">Cebolla</a>
          <a href="#">Pan</a>
          <a href="#">Galleta</a>
          <a href="#">Chocolate</a>
          <a href="#">About</a>
          <a href="#">Granos</a>
          <a href="#">Frutas</a>
          <a href="#">Aceites</a>
          <a href="#">Ajos</a>
          <a href="#">Ajos</a>
          <a href="#">Frijol</a>
          <a href="#">Cebolla</a>
          <a href="#">Pan</a>
          <a href="#">Galleta</a>
          <a href="#">Chocolate</a>
          <a href="#">About</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin contenedor Scroll -->

<section>
  <app-slide-carousel [isMobile]="isMobile"></app-slide-carousel>
</section>

<section>
  <app-slide-carousel [isMobile]="isMobile"></app-slide-carousel>
</section>

<!-- Inicio Boton de canasta -->
<div class="fixed-bottom text-center" *ngIf="isMobile">
  <button type="button" class="btn btn-primary font-weight-bold">
    <span class="badge-pill badge-light mr-2">10</span>
    VER CANASTA
  </button>
</div>
<!-- Fin Boton de canasta -->
