<section class="mt-2">
  <app-slide-categories
    [listCategories]="allCategories$ | async"
    [isMobile]="isMobile"
  ></app-slide-categories>
</section>

<section>
  <app-slide-carousel [isMobile]="isMobile"></app-slide-carousel>
</section>

<section>
  <app-slide-carousel [isMobile]="isMobile"></app-slide-carousel>
</section>

<!-- Inicio Boton de canasta -->
<div class="fixed-bottom text-center">
  <button type="button" class="btn btn-primary font-weight-bold">
    <span class="badge-pill badge-light mr-2">10</span>
    VER CANASTA
  </button>
</div>
<!-- Fin Boton de canasta -->
