<div class="card text-center">
  <img [src]="product.img" loading="lazy" class="card-img-top img-fluid" />
  <div class="card-body p-1">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text h6">{{ product.price | currency }}</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger btn-sm btn-more-less">
        <i class="fas fa-minus"></i>
      </button>
      <input
        type="text"
        class="form-control text-center m-0"
        disabled
        value="8"
      />
      <button class="btn btn-success btn-sm btn-more-less">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <button class="btn btn-info mt-3 mb-2 font-weight-bold">
      {{ "CART.CART-BUTTON" | transloco }}
    </button>
  </div>
</div>
