$break-high-desktop: 1600px;
$break-medium-desktop: 1440px;
$break-small-laptop: 1280px;
$break-tablet: 1024px;
$break-small-tablet: 768px;
$break-mobile: 480px;
$break-medium-mobile: 375px;
$break-small-mobile: 320px;