:root {
  --normal-font: "Poppins-Regular", Helvetica, Arial, sans-serif;
  --bold-font: "Poppins-SemiBold", Helvetica, Arial, sans-serif;
  --f-8: 8px;
  --f-10: 10px;
  --f-12: 12px;
  --f-14: 14px;
  --f-16: 16px;
  --f-18: 18px;
  --f-20: 20px;
  --f-22: 22px;
  --f-24: 24px;
  --f-26: 26px;
  --f-28: 28px;
  --f-32: 32px;
  --f-34: 34px;
  --f-46: 46px;
  --f-50: 50px;
  --f-58: 58px;
  --border-radius-0: 0px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-14: 14px;
  --border-radius-16: 16px;
  --border-radius-18: 18px;
  --border-radius-20: 20px;
  --border-radius-30: 30px;
  --border-radius-24: 24px;
  --border-radius-25: 25px;
  --border-radius-28: 28px;
  --border-radius-40: 40px;
  --desktop-container: 1000px;
}
