<div class="container">
  <div class="wrapper row">
    <div class="col-12 buffer">
      <div class="row slide-carousel" #sectionSlide>
        <div
          class="col-lg-3 col-md-4 col-6"
          #itemSlide
          *ngFor="let product of products"
        >
          <app-card-products [product]="product"></app-card-products>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isMobile">
    <div class="previous-button" (click)="previous()" *ngIf="arrowLeft">
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="next-button" (click)="next()" *ngIf="arrowRight">
      <i class="fas fa-chevron-down"></i>
    </div>
  </ng-container>
</div>
