@use "abstracts/mixins" as mixin;
@use "abstracts/breakpoints" as breakpoint;

.container {
  position: relative;
}

.wrapper {
  position: relative;
  overflow-x: auto;
  display: block !important;
  white-space: nowrap;
  &.row {
    flex-wrap: nowrap;
  }
  .buffer {
    display: inline-block;
    .slide-carousel {
      width: 100%;
      padding: 0px 15px 15px 15px;
      white-space: nowrap;
      overflow-x: hidden;
      flex-wrap: nowrap;
      @include mixin.transparent-scroll();
      & > div {
        padding-right: 0;
      }
    }
  }
}

.next-button,
.previous-button {
  @include mixin.flex(center, center);
  position: absolute;
  cursor: pointer;
  top: 35%;
  font-size: var(--f-26);
  border-radius: 50%;
  background: var(--white);
  height: 40px;
  width: 40px;
}
.previous-button {
  @include mixin.general-box-shadow(
    0px,
    -6px,
    10px,
    0px,
    var(--gray-1_rgb),
    0.16
  );
  transform: rotate(-90deg);
  left: -1.5%;
  i {
    display: inline-block;
    transform: rotate(180deg);
  }
}
.next-button {
  @include mixin.general-box-shadow(
    0px,
    6px,
    10px,
    0px,
    var(--gray-1_rgb),
    0.16
  );
  transform: rotate(-90deg);
  right: 0.5%;
}



@media (max-width: breakpoint.$break-small-tablet) {
  .wrapper {
    .buffer {
      .slide-carousel {
        overflow-x: auto;
      }
    }
  }
}
