<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <div class="categories-container text-center" #sectionSlide>
        <div
          class="category"
          *ngFor="let item of listCategories"
          [class.active]="isActive(item.name)"
          #itemSlide
          (click)="redirectHomeItem(item.name)"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isMobile">
    <div class="previous-button" (click)="previous()" *ngIf="arrowLeft">
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="next-button" (click)="next()" *ngIf="arrowRight">
      <i class="fas fa-chevron-down"></i>
    </div>
  </ng-container>
</div>
