@use "abstracts/mixins" as mixin;
@use "abstracts/breakpoints" as breakpoint;

.background-banner {
  position: relative;
  background-image: url("/assets/img/banner.jpg");
  background-size: cover;
  min-height: 150px;
  .background-overlay {
    position: absolute;
    background: rgba(85, 82, 82, 0.5);
    width: 100%;
    height: 100%;
  }
  .search-container {
    @include mixin.flex(center);
    .input-button {
      border-radius: var(--border-radius-0);
      border-bottom-left-radius: var(--border-radius-14);
      border-top-left-radius: var(--border-radius-14);
      border-right: 1px solid var(--white);
    }
    .btn-outline-light {
      border-radius: var(--border-radius-0);
      border-top-right-radius: var(--border-radius-14);
      border-bottom-right-radius: var(--border-radius-14);
    }
  }
}

.back-button {
  display: none;
  position: fixed;
  z-index: 1;
  top: -80px;
  text-align: center;
  width: 34px;
  height: 34px;
  background-color: var(--white);
  border-radius: 50%;
  line-height: 34px;
  margin-left: 15px;
  cursor: pointer;
  @include mixin.general-box-shadow(0px, 4px, 10px, 0px, var(--brown-1_rgb), 0.1);
  i {
    display: inline-block;
    font-size: var(--f-14);
    color: var(--gray-1);
  }
  &.top {
    position: absolute;
    top: 8px;
  }
  &.visibility {
    display: block;
  }
  &.animation {
    top: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: top 10s;
    -ms-transition: top 10s;
    -o-transition: top 10s;
    transition: all 0.5s ease;
    animation: smoothScroll 1.2s forwards;
  }
  &:hover {
    background-color: var(--gray-1);
    i {
      color: var(--white);
    }
  }
}

.img-user {
  margin-top: -50px;
  img {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: breakpoint.$break-tablet) {
  .background-banner {
    min-height: 200px;
  }
  .input-group {
    width: 50%;
    margin: 0 auto;
  }
  .img-user {
    img {
      height: 80px;
      width: 80px;
    }
  }
}
