<ng-container *ngIf="headerStyle$ | async as style">
  <div class="background-banner" *ngIf="typeHeaderBanner(style.classType)">
    <div class="background-overlay">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 search-container">
            <div class="input-group">
              <input
                type="text"
                class="form-control text-center input-button"
                [placeholder]="'HOME.SEARCH-PLACEHOLDER' | transloco"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-light"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container img-user">
    <div class="row">
      <div class="col-12">
        <img
          src="assets/img/user.jpg"
          loading="lazy"
          class="img-fluid rounded-circle"
          alt=""
        />
      </div>
    </div>
  </div>
  <span
    class="back-button"
    [class.top]="!isHome && !headerAnimation"
    (click)="goHome()"
    *ngIf="!isHome"
    [class.animation]="headerAnimation"
    placement="right"
  >
    <i class="fas fa-home" (click)="toggleTooltip(true)"></i>
  </span>
</ng-container>
