:root {
  --gray-1: #332927;
  --gray-2: #7399b3;
  --gray-3: #bbd7e9;
  --gray-4: #706967;
  --gray-5: #e5edef;
  --gray-6: #f9f9f8;
  --gray-7: #9faab7;
  --gray-8: #f6f5fe;
  --gray-9: #b8b4b4;
  --gray-10: #f4f4f4;
  --gray-11: #8c8b8b;
  --gray-12: #b8b4b4;
  --gray-13: #eeeeee;
  --gray-14: #dddddd;
  --white: #ffffff;
  --white-1: #f9f9f8;
  --white-2: #e5e5e4;
  --white-3: #eeeded;
  --black: #000000;
  --transparent: #ffffff00;
  --red-1: #f21537;
  --orange-1: #ff3b15;
  --black-1_rgb: 85, 82, 82;
  --gray-1_rgb: 51, 41, 39;
  --gray-2_rgb: 115, 153, 179;
  --gray-3_rgb: 187, 215, 233;
  --gray-4_rgb: 112, 105, 103;
  --gray-5_rgb: 229, 237, 239;
  --gray-6_rgb: 249, 249, 248;
  --gray-7_rgb: 159, 170, 183;
  --gray-8_rgb: 246, 245, 254;
  --gray-9_rgb: 184, 180, 180;
  --gray-10_rgb: 244, 244, 244;
  --gray-12_rgb: 184, 180, 180;
  --red-1_rgb: 242, 21, 55;
  --orange-1_rgb: 255, 59, 21;
}
